@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

#navbar{
    background-color: rgb(230, 216, 196);
}

.navbar .flex-titulo:hover {
    color: #fff;
  }


#medio{
background-color: rgb(230, 216, 196);
}

#medio:after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position:relative;
    left: auto;
    margin-top: -40px;
}

#cards{
    background-color:bisque;
}

#birthday{
    background-color: rgb(230, 216, 196);
    position: relative;
    margin-top: -20px;
    z-index:10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

.card-border{
    border: solid 10px white;
    border-radius:20px;
    overflow: hidder;
    transition: all ease-out 0.2s;
}

.campanias{
    background-color: rgb(230, 216, 196);
}

.tienda{
    background-color: rgb(230, 216, 196);
}

.html {
    font-size: 72.5%;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

#footer{
    background-color: rgb(230, 216, 196);
}